.actionSelector {
    margin-top: auto;
    padding: 10px;
    background: #262626;
}

.actionSelector__option {
    margin: 0 15px;
    display: inline-flex;
}
.actionSelector__option span {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #333;
    border-radius: 50%;
    font-size: 24px;
    color: #666;
    transition: 0.5s;
}
.actionSelector__option span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffee10;
    transition: .5s;
    transform: scale(0.9);
    z-index: -1;
}
.actionSelector__option span.active::before,
.actionSelector__option span:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee10;
}
.actionSelector__option span.active,
.actionSelector__option span:hover {
    color: #ffee10;
    box-shadow: 0 0 5px #ffee10;
    text-shadow: 0 0 5px #ffee10;
    cursor: pointer;
}
