body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  background: #262626;
  color: #a7a7a7;
}

thead td {
  font-weight: bold;
}

tbody tr:hover {
  cursor: pointer;
  text-decoration: underline red;
}

tr.focused {
  text-decoration: underline red;
}

.pull-right {
  float: right;
}

.gray-stroke line,
.gray-stroke text,
.gray-stroke path {
  stroke: gray;
}

.actionSelector {
  margin-top: auto;
  padding: 10px;
  background: #262626;
}
