@import 'inputs/inputs.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #262626;
  color: #A7A7A7;
}

.jp-container {
  display: flex;
  flex-flow: row-reverse nowrap;
}

.jp-ctrl__outer-container {
  display: flex;
  flex-direction: column;
}

.jp__header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pointCard:hover {
  cursor: pointer;
}

thead td {
  font-weight: bold;
}

tbody tr:hover {
  cursor: pointer;
  text-decoration: underline red;
}

tr.focused {
  text-decoration: underline red;
}

.pull-right {
  float: right;
}

.gray-stroke line,
.gray-stroke text,
.gray-stroke path {
  stroke: gray;
}

.saved-data-set {
  cursor: pointer;
}

.actionSelector {
    margin-top: auto;
    padding: 10px;
    background: #262626;
}
