@import "./variables.scss";

.jp-ctrl {
  width: $ctrl-width;
  box-sizing: border-box;
  height: 100vh;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    overflow: scroll;
  }

  hr {
    width: 100%;
  }

  label {
    padding: 10px;
  }
}
