.range__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.range__inputs {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.range__slider {
    display: flex;
    box-sizing: border-box;
    height: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.range__chunk {
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    background-color: lightgray;
    border: #814141 1px solid;
}

.range__chunk--start {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.range__chunk--middle {
    background-color: #ffee10;
    border-right: none;
    border-left: none;
}

.range__chunk--end {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.range__control {
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: #814141 2px solid;
    border-radius: 5px;
    background-color: #ffee10;
    position: relative;
    top: -5px;
    height: 20px;
}
